<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="text-align: center; color: blue;">CARLOS EZEQUIEL MEYER MEDINA 9B</h1>
    <h1 style="text-align: center;">Calculadora</h1>


    <img src="{{ url_for('static', filename='imagen.jpg') }}" alt="Imagen de la Calculadora" width="200" height="200">

    <form method="post" action="/calculate">
        <input type="number" name="num1" required>
        <select name="operation">
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="number" name="num2" required>
        <button type="submit">Calcular</button>
    </form>
    {% if result is not none %}
        <h2>Resultado: {{ result }}</h2>
    {% endif %}
</body>
</html>